.surah-container {
  display: flex;
  margin: 20px;
}

.surah-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center; 
  color: #317a35;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: calc(100% - 320px); /* Adjust width considering the sidebar size */
  box-sizing: border-box;
}

.sidebar {
  width: 300px; /* Width of the sidebar */
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 20px; /* Sticky to top */
  height: calc(100vh - 40px); /* Full height minus margin */
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.verse-container {
  font-size: 1.2rem;
  direction: rtl; /* Right-to-left alignment for Arabic text */
  white-space: pre-wrap; /* Preserve white space and allow wrapping */
}

.verse {
  display: inline; /* Inline display to allow continuous flow */
  line-height: 1.6;
  text-align: right; /* Align text to the right */
  direction: rtl; /* Ensure right-to-left text direction */
  margin: 0 5px; /* Space between Ayahs */
}

.verse-number {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1ecd27;
  margin-left: 5px; /* Space between text and number */
}

.verse-details {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px; /* Add spacing between details sections */
}

.verse-details h3 {
  margin-top: 0; /* Remove top margin from headings */
}
.verse-details p{
  text-align: right; /* Align text to the right */
  direction: rtl; 
}
.verse-details div p{
  text-align: left;
}
.l{
  text-align: left; 
  
}


